<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Rush</title>
    <link rel="stylesheet" href="~/css/site.mini.css" asp-append-version="true"/>
</head>
<body>
<header class="flex flex-row items-center justify-center bg-gray-800">
    <h3 class="font-bold text-white">Games Website</h3>
</header>

<div class="">
    <main role="main" class="">
        @RenderBody()
    </main>
</div>

<footer class="">
    
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>