@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="flex flex-col items-center">
    
    <h1 class="text-center">@Model.TestText</h1>

    <div class="grid grid-cols-3 gap-5">
        @foreach (var item in Model.Items)
        {
            //Item Card
            <div>
                <img src="storage/@item.Id.ToString()/cover.png" alt="cover"/>
                <h3 class="font-bold">@item.Name</h3>
                <div class="flex flex-row gap-5">
                    <p>@item.Filesname</p>
                    <p></p>
                </div>
            </div>
        }
    </div>

</section>
