@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="items-center">

    <div class="flex flex-col flex-wrap items-center gap-5">
        @foreach (var item in Model.Items)
        {
            //Item Card
            <a asp-page="/Index" asp-page-handler="DownloadItem" asp-route-itemid="@item.Id.ToString()" class="flex flex-col items-center justify-center gap-4 bg-gray-700 rounded-1xl w-[200px] hover:cursor-pointer">
                <p class="mt-2 text-white">last updated @item.LastUpdated.ToString()</p>
                <img class="w-[200px]" src="storage/@item.Id.ToString()/cover.png" alt="cover"/>
                <h3 class="font-bold text-white">@item.Name</h3>
                <div class="mb-2 flex flex-row items-center justify-center gap-5">
                    <p class="text-white">@item.Filesname</p>
                    <p class="text-white">20gb</p>
                </div>
            </a>
        }
    </div>

</section>

